html, body {
	font: 100% helvetica,arial,sans-serif;
	background: #f4f6f7;
}

.wrapper {
	width: 1021px;
	margin: 0 auto;
	position: relative;
}


/* Global Nav */
#globalnav {
	padding: 10px;
}
#globalnav ul {
	max-width: 1021px;
	height: 47px;
	padding: 0;
	margin: 0 auto;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden;
	background: #515151 ;
}
#globalnav li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	background: #515151 ;
	height: 47px;
	border-right: 1px solid #2d2d2d;
	border-left: 1px solid #636161;
	font-size: 14px;
	font-weight: 100;
}
#globalnav li:first-child {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#globalnav li a {
	display: block;
	color: white;
	text-shadow: 0px -1px 3px black;
	height: 47px;
	padding: 14px 0 0 60px
}
#globalnav li:hover {
	background: #1c1c1c;
}
#globalnav li#nav-allforces a{
	width: 104px;
	height: 0;
	padding: 47px 0 0 0;
	overflow: hidden;
	background: url('../i/nav-allforces.png') no-repeat 20px 8px;
}

#nav-nota a {
	background: url('../i/nav-nota.png') no-repeat 20px 8px;
	width: 55px;
}

#nav-thinkertoy a {
	background: url('../i/nav-thinkertoy.png') no-repeat 20px 8px;
	width: 100px;
}
#nav-thirtyaday a {
	background: url('../i/nav-thirtyaday.png') no-repeat 20px 8px;
	width: 90px;
}
#nav-margana a {
	background: url('../i/nav-margana.png') no-repeat 20px 8px;
	width: 90px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    #globalnav li a {
	    background-size: 31px 31px;
    }
	#globalnav li#nav-allforces a{
		background-image: url('../i/nav-allforces-2x.png');
		background-size: 69px 32px;
	}
	#nav-nota a {
		background-image: url('../i/nav-nota-2x.png');
	}
	#nav-thinkertoy a {
		background-image: url('../i/nav-thinkertoy-2x.png');
	}
	#nav-thirtyaday a {
		background-image: url('../i/nav-thirtyaday-2x.png');
	}
	#nav-margana a {
		background-image: url('../i/nav-margana-2x.png');
	}
}



/* Featured */
#header .content {
	position: absolute;
	top: 200px;
	left: 450px;
	text-align: center;
}

#title h1, #title p {
	display: none
}

#badge img{
	padding-top: 30px
}
#hero {
	width: auto;
	max-width: 381px;
	padding: 20px 0 0 20px;
}
.fb-like {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}
.twitter-tweet {
	width: 107px;
	display: inline-block;
	vertical-align: top;
}


/* Newsletter */

#mc-embedded-subscribe-form {
	background: #dbdcde;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 30px 0;
	padding: 10px;
	width: 400px;
	display: inline-block
}

#mc-embedded-subscribe-form label {
	display: none
}
#mc-embedded-subscribe-form input[type=email] {
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #dbdcde;
	font-size: 1.8em;
	padding: 3px 6px;
	margin-bottom: 0.3em;
	width: 100%
}
#mc-embedded-subscribe-form input[type=submit] {
	box-sizing: border-box;
	background: #6c7d89 ;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 1.8em;
	padding: 12px 6px;
	color: white;
	text-align: center;
	width: 100%;
} 
#mc-embedded-subscribe-form input[type=submit]:hover {
	background: #4a5862
}

#mc-embedded-subscribe-form input[type=submit]:active {
	background: #2b3339
}

/* sections */
section {
	padding: 2em 0;
}
section .content {
	padding: 1em 0 0.2em 0;
}
section h1 {
	font-size: 4em;
	font-weight: normal;
	color: #aca7a7;
	padding: 0 0 0.21em 0
}
section p {
	font-size: 1.2em;
	
}
section:nth-child(odd) {
	background: white;
	border-top: 1px solid #c0c3c3;
	border-bottom: 1px solid #c0c3c3;
}
section:nth-child(odd) img {
	float: left;
	margin: 0 8em;
}
section:nth-child(odd) .content {
	padding-left: 30em;	
}
section:nth-child(even) img {
	float: right;
	margin: 0 8em;
}
section:nth-child(even) .content {
	width: 450px;
	text-align: right
}
#section-stats {
	padding-bottom: 0;
}
#section-stats  img {
	margin: 0;
}
#section-noequipment .content {
	padding-top: 4em
}
#section-stats .content {
	padding-top: 9em
}
#section-info .content {
	padding-top: 4em
}
#section-sidebyside {
	 padding: 0;
	 height: 599px;
}
#section-sidebyside img {
	float: none;
	margin: 0;
}
#section-reminders {
	padding-bottom: 0;

}
#section-reminders .content {
	padding-top: 8em
}
#section-reminders img {
	margin: 0;
	float: right;
}
section.full .content{
	padding: 0;
	width: 600px;
	margin: 0 auto;
}

/* Footer */

#footer {
	background: #252525;
	padding: 2em 0 2em 0;
	text-align: center;
	color: #575757;
	font-size: 0.9em;
	line-height: 1.5em;
}
#footer a:link, #footer a:visited {
	color: #b1b1b1;
}
#footer a:hover, #footer a:active {
	color: white;
}


/* Mobile */

@media screen and (max-width: 1021px) {
	/* General */
	.wrapper {
		width: 100%;
    }
    /* Global Nav */
    #globalnav {
	    padding: 0;
	    position: fixed;
	    width: 100%;
	    z-index: 1;
    }
    #globalnav ul {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	#globalnav li:first-child {
		-webkit-border-top-left-radius: 0;
		-moz-border-top-left-radius: 0;
		border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	#globalnav li:last-child {
		-webkit-border-top-right-radius: 0;
		-moz-border-top-right-radius: 0;
		border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#globalnav li#nav-allforces a {
		width: 84px;
		background-position:  10px 8px;
	}
	#globalnav li#nav-nota a, #globalnav li#nav-thinkertoy a, #globalnav li#nav-thirtyaday a, #globalnav li#nav-margana a {
		width: 50px;
		padding: 47px 0 0 0;
		background-position:  10px 8px;
	}
	
	/*   */
	/* Header */
	#header {
		text-align: center;
		padding-top: 80px;
	}
	#header .content {
		position: static;
		text-align: center;
	}
	#hero {
		padding: 20px 0 0 0;
	}
	#title {
		margin: 0 auto;
	}
	
	/* Sections */	
	section .wrapper {
		text-align: center;
	}
	section .content {
		padding: 0 10px !important;
	}
	section h1 {
		font-size: 2em;
	}
	section:nth-child(odd) img {
		float: none;
		margin: 0 auto;
	}
	section:nth-child(even) img {
		float: none;
		margin: 0 auto;
	}
	section:nth-child(odd) .content {
		width: auto;
		padding: 0;
		text-align: center;
	}
	section:nth-child(even) .content {
		width: auto;
		padding: 0;
		text-align: center;
	}
	img, #hero {
		width: intrinsic !important;
		max-width: 90%;
		height: auto;
		float: none;
	}
	img.icon {
		max-width: 30%;
		height: auto;
	}
	#section-sidebyside {
		height: auto
	}
	#section-sidebyside img{
		 width: 100%;
		 max-width: 100%;
		 height: auto;
		 display: block;
	}
	
	
}
