html, body {
	font: 100% helvetica,arial,sans-serif;
	background: #f4f6f7;
}

.wrapper {
	width: 1021px;
	margin: 0 auto;
	position: relative;
}


/* Global Nav */
#globalnav {
	padding: 10px;
}
#globalnav ul {
	max-width: 1021px;
	height: 47px;
	padding: 0;
	margin: 0 auto;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden;
	background: #515151 ;
}
#globalnav li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	background: #515151 ;
	height: 47px;
	border-right: 1px solid #2d2d2d;
	border-left: 1px solid #636161;
	font-size: 14px;
	font-weight: 100;
}
#globalnav li:first-child {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#globalnav li a {
	display: block;
	color: white;
	text-shadow: 0px -1px 3px black;
	height: 47px;
	padding: 14px 0 0 60px
}
#globalnav li:hover {
	background: #1c1c1c;
}
#globalnav li#nav-allforces a{
	width: 104px;
	height: 0;
	padding: 47px 0 0 0;
	overflow: hidden;
	background: url('../i/nav-allforces.png') no-repeat 20px 8px;
}

#nav-nota a {
	background: url('../i/nav-nota.png') no-repeat 20px 8px;
	width: 55px;
}

#nav-thinkertoy a {
	background: url('../i/nav-thinkertoy.png') no-repeat 20px 8px;
	width: 100px;
}
#nav-thirtyaday a {
	background: url('../i/nav-thirtyaday.png') no-repeat 20px 8px;
	width: 90px;
}
#nav-margana a {
	background: url('../i/nav-margana.png') no-repeat 20px 8px;
	width: 90px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    #globalnav li a {
	    background-size: 31px 31px;
    }
	#globalnav li#nav-allforces a{
		background-image: url('../i/nav-allforces-2x.png');
		background-size: 69px 32px;
	}
	#nav-nota a {
		background-image: url('../i/nav-nota-2x.png');
	}
	#nav-thinkertoy a {
		background-image: url('../i/nav-thinkertoy-2x.png');
	}
	#nav-thirtyaday a {
		background-image: url('../i/nav-thirtyaday-2x.png');
	}
	#nav-margana a {
		background-image: url('../i/nav-margana-2x.png');
	}
}


/* Featured */
#trailer {
	width: 299px;
	margin: 0 auto;
	display: block
}
#header .content {
	text-align: center;
}

#header h1, #header p {
	display: none
}
#title {
	width: 443px;
	display: inline-block;
	padding-right: 10px;
	position: absolute;
	top: 40px;
	left: 100px;
}
#badge img{
	padding: 10px 60px;
}
#hero {
	width: auto;
	padding: 20px 0 0 20px;
	margin: 0 auto;
}
.fb-like {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
}
.twitter-tweet {
	width: 107px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}


/* sections */
section {
	padding: 2em 0;
}
section .content {
	padding: 1em 0 0.2em 0;
}
section h1 {
	font-size: 4em;
	font-weight: normal;
	color: #aca7a7;
	padding: 0 0 0.21em 0
}
section p {
	font-size: 1.2em;
	
}
section:nth-child(odd) {
	background: white;
	border-top: 1px solid #c0c3c3;
	border-bottom: 1px solid #c0c3c3;
}
section:nth-child(odd) img {
	float: left;
	margin: 0 8em;
}
section:nth-child(odd) .content {
	padding-left: 30em;	
}
section:nth-child(even) img {
	float: right;
	margin: 0 8em;
}
section:nth-child(even) .content {
	width: 450px;
	text-align: right
}
#section-puzzles {
	padding-bottom: 0;
}
#section-puzzles .content {
	padding-top: 2em;
}
#section-gallery .content {
	padding-top: 5em;
}
#section-tools img {
	margin: 0;
}
#section-tools .content {
	text-align: left
}
#section-share {
	padding-bottom: 0;
}
#section-share img {
	margin: 0 4em 0 4em
}
#section-share .content {
	padding-top: 8em
}
#section-sound .content {
	padding-top: 7em
}
#section-sound img {
	margin: 0 4em 0 4em
}
#section-wiki img {
	margin: 0 4em 0 4em
}

#section-wiki .content {
	padding-top: 14em
}
#section-creativity img {
	margin: 0 auto;
}
#section-creativity .content {
	width: 50%;
	margin: 0 auto;
	padding: 0
}
/* Footer */

#footer {
	background: #252525;
	padding: 2em 0 2em 0;
	text-align: center;
	color: #575757;
	font-size: 0.9em;
	line-height: 1.5em;
}
#footer a:link, #footer a:visited {
	color: #b1b1b1;
}
#footer a:hover, #footer a:active {
	color: white;
}


/* Mobile */

/* Dynamic Width */

@media screen and (max-width: 443px) {
	#title {
		width: 100%;
	}
	#logo {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}
}
@media screen and (max-width: 999px) {
	#title {
		position:static;
		display: block;
		margin: 0 auto;
	}
	#hero {
		 width: 90%;
		 height: auto;
	}
}
@media screen and (max-width: 514px) {
	#section-puzzles {
		height: auto
	}
	#section-puzzles img{
		 width: 90%;
		 height: auto;
		 margin: 0 5%;
	}
}
@media screen and (max-width: 559px) {
	#section-gallery  img {
		width: 90% ;
		height: auto;
		margin: 0 5%;
	}	
}
@media screen and (max-width: 514px) {
	#section-share  img {
		width: 90% ;
		height: auto;
		margin: 0 5%;
		float: none;
	}	
}

@media screen and (max-width: 879px) {
	#section-tools img{
		 width: 100%;
		 height: auto;
		 margin: 0;
	}
}

@media screen and (max-width: 579px) {
	#section-sound img{
		 width: 90%;
		 height: auto;
		 margin: 0 5%;
	}
}

@media screen and (max-width: 509px) {
	#section-wiki img{
		 width: 90%;
		 height: auto;
		 margin: 0 5%;
	}
}
@media screen and (max-width: 993px) {
	#section-creativity img{
		 width: 90%;
		 height: auto;
		 margin: 0;
	}
}


@media screen and (max-width: 600px) {
	/* General */
	.wrapper {
		width: 100%;
    }
    /* Global Nav */
    #globalnav {
	    padding: 0;
	    position: fixed;
	    width: 100%;
	    z-index: 1;
    }
    #globalnav ul {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	#globalnav li:first-child {
		-webkit-border-top-left-radius: 0;
		-moz-border-top-left-radius: 0;
		border-top-left-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-moz-border-bottom-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	#globalnav li:last-child {
		-webkit-border-top-right-radius: 0;
		-moz-border-top-right-radius: 0;
		border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#globalnav li#nav-allforces a {
		width: 84px;
		background-position:  10px 8px;
	}
	#globalnav li#nav-nota a, #globalnav li#nav-thinkertoy a, #globalnav li#nav-thirtyaday a, #globalnav li#nav-margana a {
		width: 50px;
		padding: 47px 0 0 0;
		background-position:  10px 8px;
	}
	/* Header */
	#header {
		text-align: center;
		padding-top: 80px;
	}
	#header .content {
		position: static;
		text-align: center;
	}
	#hero {
		padding: 20px 0 0 0;
	}
	#title {
		margin: 0 auto;
	}
	
	
	/* Sections */	
	section .wrapper {
		text-align: center;
	}
	section .content {
		padding: 0 10px !important;
	}
	section h1 {
		font-size: 2em;
	}
	section:nth-child(odd) img {
		float: none;
		margin: 0 auto;
	}
	section:nth-child(even) img {
		float: none;
		margin: 0 auto;
	}
	section:nth-child(odd) .content {
		width: auto;
		padding: 0;
		text-align: center;
	}
	section:nth-child(even) .content {
		width: auto;
		padding: 0;
		text-align: center;
	}
	#section-creativity .content {
		width: auto;
		padding: 1em 10px;
	}
	#section-creativity .content p {
		text-align: left
	}
	
}
